<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymleaf.org">
	<head>
	<style>
	a:link, a:visited {
	  background-color: #CCCFD9;
	  color: #474B58;
	  padding: 15px 25px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}
	
	a:hover, a:active {
	  background-color: #474B58;
	  color: white
	}
	</style>
	</head>
	
	<body>
		<h1 align="center">Authorisation</h1><br>
		<form action ="#" th:action = "@{/authorise}" th:object = "${user}" method = "post">
			<div align="center">Username:</div><br>
			<div align="center"><input type="text" th:field = "*{username}"/></div><br>
			<div align="center">Password:</div><br>
			<div align="center"><input type="password" th:field = "*{password}"/></div><br>
			<div align="center"> <input type="submit" value = "Authorise"/></div><br>
		</form>
		<div align = "center">
		<a href="http://localhost:8080/registration">Register</a>
		<a href="http://localhost:8080/home">Home</a>
		</div><br>
	</body>
 </html>