<html>
	<head>
	<style>
	a:link, a:visited {
	  background-color: #CCCFD9;
	  color: #474B58;
	  padding: 15px 25px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	}
	
	a:hover, a:active {
	  background-color: #474B58;
	  color: white
	}
	</style>
	</head>
	
	<body>
	<h1 align = "center">Error in the system! Return to guest screen!</h1>
	<div align = "center"><a href="http://localhost:8080/homeGuest">To guest home</a></div><br>
	</body>
</html>